root {
    display: block;
}

body
{
    text-align:center;
}

body *
{
    text-align:left;
}

#container
{
    margin:0 auto;
    width: 1000px;
    height:100%;
    overflow:hidden;
}

#header
{
    width:100%;
    overflow: hidden;
    clear:both;
}

#header a img
{
    border:none;
}

#header_logo
{
    float:left;
}

#header_user
{
    float:right;
}

.search_form
{
    float:right;
    clear:right;
    display:block;
}

#main_menu
{
    width:958px;
    overflow:hidden;
    list-style-type: none;
    border-left: solid 1px #d1d1d1;
    border-right: solid 1px #d1d1d1;
    background: url('/themes/default/multipla/images/main_menu_background.jpg') repeat-x;
}

#main_menu li
{
    float:left;
    display:block;
    padding-left:20px;
}

#main_menu li a
{
    text-decoration: none;
    color: #151515;
}

#main_menu li a:hover
{
    color: #888888;
}